
/** Common color variables **/
$color-black: #000; 
$color-yellow: #ff0; 
$color-white: #fff;
$color-danger: #D9534F;
$color-dark-red: #a94442; 
$color-night-rider: #333;
$color-pale-rose: #ebccd1; /* color used for denied message */
$color-pale-rose-light: #f2dede;
$color-success-bg: #dff0d8;
$color-warning: #66512c;
$color-dark-pink: #c7254e;
$color-light-pink: #f9f2f4;

/** Main color **/ 
$icon-green: #128474;  /*#008C82;*/

/******** Primary colors *******/
$icon-primary-palette-1: #004750;
$icon-primary-palette-2: #94D60A; 
$icon-primary-palette-3: #CEDB00;

$icon-primary-palette-2-dark: #76ab08;
 

/** Primary light shades **/
$icon-primary-palette-1-pct40: #99B5B9;
$icon-primary-palette-1-pct30: #B3C8CB;
$icon-primary-palette-1-pct20: #CCDADC;
$icon-primary-palette-1-pct10: #E6EDEE;
$icon-primary-palette-1-pct05: #F2F6F6; 

$icon-primary-palette-2-pct40: #D4EF9D;
$icon-primary-palette-2-pct30: #DFF3B6;
$icon-primary-palette-2-pct20: #EAF7CE;
$icon-primary-palette-2-pct10: #F4FBE7;
$icon-primary-palette-2-pct05: #FAFDF3;


$icon-primary-palette-3-pct40: #EBF199;
$icon-primary-palette-3-pct30: #F0F4B3;
$icon-primary-palette-3-pct20: #F5F8CC;
$icon-primary-palette-3-pct10: #FAFBE6;
$icon-primary-palette-3-pct05: #FDFDF2;

/** Secondary colors  **/
$icon-secondary-palette-1: #60C3D6;
$icon-secondary-palette-2: #1790D0;
$icon-secondary-palette-3: #632B86; 
$icon-secondary-palette-4: #F0E1B6; 
$icon-secondary-palette-5: #6A696D; 
$icon-secondary-palette-5-dark: #515053;

/** Secondary light shades  **/
$icon-secondary-palette-1-pct40: #BFE7EF;
$icon-secondary-palette-1-pct30: #CFEDF3;
$icon-secondary-palette-1-pct20: #DFF3F7;
$icon-secondary-palette-1-pct10: #EFF9FB;
$icon-secondary-palette-1-pct05: #F7FCFD;

$icon-secondary-palette-2-pct40: #A2D3EC;
$icon-secondary-palette-2-pct30: #B9DEF1;
$icon-secondary-palette-2-pct20: #D1E9F6;
$icon-secondary-palette-2-pct10: #E8F4FA;
$icon-secondary-palette-2-pct05: #F3F9FD;

$icon-secondary-palette-3-pct40: #C1AACF;
$icon-secondary-palette-3-pct30: #D0BFDB;
$icon-secondary-palette-3-pct20: #E0D5E7;
$icon-secondary-palette-3-pct10: #EFEAF3;
$icon-secondary-palette-3-pct05: #F7F4F9;

$icon-secondary-palette-4-pct40: #F9F3E2;
$icon-secondary-palette-4-pct30: #FBF6E9;
$icon-secondary-palette-4-pct20: #FCF9F0;
$icon-secondary-palette-4-pct10: #FEFCF8;
$icon-secondary-palette-4-pct05: #FEFEFB; 

$icon-secondary-palette-5-pct40:#C3C3C5;
$icon-secondary-palette-5-pct30: #D2D2D3;
$icon-secondary-palette-5-pct20: #E1E1E2;
$icon-secondary-palette-5-pct10: #F0F0F0;
$icon-secondary-palette-5-pct05: #F8F8F8;

/** Gray shade **/ 
$default-gray: #f8f8f8;
$default-light-gray: #f9f9f9;
$light-gray: #c6c6c6;
$light-gray-shade2: #e6e6e6;
$gray: #9d9d9c;
$dark-gray: #575756;
$shuttle-grey: #626469;